<div class="menubarcard">
  <div class="row cardName">
    <h4 class="centradoGestion">Gestiones</h4>
  </div>
  <h5 class="ColorNuevas">NUEVAS</h5>
      <a
        href="/MuestraGestion"
        class="list-group-item list-group-item-action py-2 ripple menucard"
        aria-current="true"
      >
        <div class="row">
          <div class="col-2">
            <i class="material-icons-outlined menuColor">folder</i>
          </div>
          <div class="col-8">
            <span>Categoria 1</span>
          </div>
          <div class="col-2">
            <i class="material-icons-outlined menuColor">more_vert</i>
          </div>
        </div>
      </a>

  <a
    href="#"
    class="list-group-item list-group-item-action py-2 ripple menucard"
    aria-current="true"
  >
    <div class="row ">
      <div class="col-2">
        <i class="material-icons-outlined menuColor">folder</i>
      </div>
      <div class="col-8">
        <span>Categoria 2</span>
      </div>
      <div class="col-2">
        <i class="material-icons-outlined menuColor">more_vert</i>
      </div>
    </div>
  </a>

  <a
    href="#"
    class="list-group-item list-group-item-action py-2 ripple menucard"
    aria-current="true"
  >
    <div class="row">
      <div class="col-2">
        <i class="material-icons-outlined menuColor">folder</i>
      </div>
      <div class="col-8">
        <span>Categoria 3</span>
      </div>
      <div class="col-2">
        <i class="material-icons-outlined menuColor ">more_vert</i>
      </div>
    </div>
  </a>


</div>
